<style>
.container {
    max-width: 850px;
}
.btn-success, .btn-warning, .btn-danger {
    float: right;
    font-size: 10px;
    padding: 3px 8px;
    margin-right:3px;
}
.btn-primary, .btn-secondary{
    font-size: 10px;
    padding: 3px 8px;
    margin-right:3px;
}
.required-field{
    color: red;
}
td, th {
    font-size: 11px;
}
</style>
<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        People
                        <button @click="showAddForm()" type="button" class="btn btn-success">
                            Add
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="row mb-3" v-if="showError || showSuccess">
                            <div class="col-md-12">
                                <div v-html="message" :class="{'alert':true, 'alert-danger':showError, 'alert-success':showSuccess}" role="alert"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" v-if="showForm"> 
                        <div class="row mb-3">
                            <div class="col-md-6">          
                                <div class="form-group">
                                    <label for="name">Name <span class="required-field">*</span></label>
                                    <input v-model="person.name" type="text" class="form-control" id="name" :disabled="formMode == 'view'?true:false">
                                </div>
                            </div>
                            <div class="col-md-6">          
                                <div class="form-group">
                                    <label for="surname">Surname <span class="required-field">*</span></label>
                                    <input v-model="person.surname" type="text" class="form-control" id="surname" :disabled="formMode == 'view'?true:false">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">          
                                <div class="form-group">
                                    <label for="id-number">ID Number <span class="required-field">*</span></label>
                                    <input v-model="person.id_number" type="text" class="form-control" id="id-number" :disabled="formMode == 'view'?true:false">
                                </div>
                            </div>
                            <div class="col-md-6">          
                                <div class="form-group">
                                    <label for="mobile-number">Mobile Number <span class="required-field">*</span></label>
                                    <input v-model="person.mobile_number" type="text" class="form-control" id="mobile-number" :disabled="formMode == 'view'?true:false">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">          
                                <div class="form-group">
                                    <label for="email">Email Address <span class="required-field">*</span></label>
                                    <input v-model="person.email" type="email" class="form-control" id="email" :disabled="formMode == 'view'?true:false">
                                </div>
                            </div>
                            <div class="col-md-6">          
                                <div class="form-group">
                                    <label for="dob">Date of birth <span class="required-field">*</span></label>
                                    <input v-model="person.date_of_birth" type="text" class="form-control" id="dob" :disabled="formMode == 'view'?true:false">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">          
                                <div class="form-group">
                                    <label for="language">Language <span class="required-field">*</span></label>
                                    <select v-model="person.language_id" class="form-control" id="interests" :disabled="formMode == 'view'?true:false">
                                        <option value="">- Please Select -</option>
                                        <option v-for="option in languages" :value="option.id">{{option.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">          
                                <div class="form-group">
                                    <label for="interests">Interests <span class="required-field">*</span><i style="font-size:11px" v-if="formMode != 'view'">Multiselect</i></label>
                                    <ul v-if="formMode == 'view'">
                                        <li v-for="interest in person.interests">{{interest.title}}</li>
                                    </ul>
                                    <select v-model="person.interests" class="form-control" id="interests" multiple v-else>
                                        <option v-for="option in interests" :value="option.id">{{option.title}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12"> 
                                <button @click="handleSubmit" type="button" class="btn btn-primary"  v-if="formMode != 'view'">
                                    <span v-if="formMode=='add'">Add Person</span>
                                    <span v-if="formMode=='edit'">Update Person</span>
                                </button>
                                <button @click="clearPerson(); showForm=false;" type="button" class="btn btn-secondary">
                                    <span>Cancel</span>
                                </button>
                                <div v-if="loader" class="spinner-border mx-2" role="status" style="position: relative;top: 11px;">
                                </div>
                            </div>
                        </div>
                    </div>
   
                    <div class="card-body" v-else> 
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Birth date</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Language</th>
                                <th scope="col">Interests</th>
                                <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody v-if="people.length > 0">
                                <tr v-for="(item,i) in people">
                                    <td>{{i+1}}</td>
                                    <td>{{item.name + ' ' + item.surname}}</td>
                                    <td>{{item.date_of_birth}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.mobile_number}}</td>
                                    <td>{{item.language.name}}</td>
                                    <td>
                                        <ul>
                                            <li v-for="(item,i) in item.interests" :key="i">{{item.title}}</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <button @click="performAction('delete',item)" type="button" class="btn btn-danger">
                                            Delete
                                        </button>
                                        <button @click="performAction('edit',item)" type="button" class="btn btn-warning">
                                            Edit
                                        </button>
                                        <button @click="performAction('view',item)" type="button" class="btn btn-success">
                                            View
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="8">Please add some people</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
            this.getData(); 
        },

        data () {
            return {
                formMode: 'add',
                showForm: false,
                interests: [],
                languages: [],
                people: [],
                person: {
                    name: '',
                    surname: '',
                    id_number: '',
                    mobile_number: '',
                    email: '',
                    date_of_birth: '',
                    language_id: '',
                    interests: []
                },
                showError: false,
                showSuccess: false,
                message: '',
                loader: false
            }
        },
 
        methods: {
            showAddForm(){
                this.showSuccess = this.showError = this.loader = false;
                this.clearPerson();
                this.showForm = true;
                this.formMode = 'add';
            },
            showUpdateForm(){
                this.showSuccess = this.showError = this.loader = false;
                this.showForm = true;
                this.formMode = 'edit';
            },
            handleSubmit(){
                let vm = this;
                let endPoint = (vm.formMode == 'add') ? '/add' : '/update/' + vm.person.id;
                vm.loader = true;
                vm.showError = false;
                vm.showSuccess = false;
                axios.post(endPoint,vm.person)
                    .then(function (response) {
                        vm.message = response.data.message;
                        vm.clearPerson();
                        vm.getData();
                        vm.showForm = vm.showError = vm.loader = false;
                        vm.showSuccess = true;
                    }).catch(function (error) {
                        
                        if (error.response.data.errors) {
                            let myErrors = error.response.data.errors;
                            let errorUl = '<ul>';

                            Object.entries(myErrors).map(entry => {
                                let key = entry[0];
                                let value = entry[1];
                                errorUl += '<li>'+value[0]+'</li>';
                                console.log(key, value[0]);
                            });
                            errorUl += '</ul>';

                            vm.message = errorUl;
                            vm.showError = true;
                            vm.showSuccess = false;
                        }
                        vm.loader = false;
                    });
            },
            getData(){
                let vm = this;
                axios.get('/get-select-options')
                    .then(function (response) {
                        vm.interests = response.data.data.interests;
                        vm.languages = response.data.data.languages;
                        vm.people = response.data.data.people;
                    }).catch(function (error) {
                        console.log(error);
                    });
            },
            clearPerson(){
                this.showSuccess = this.showError = this.loader = false;
                this.person = {
                    name: '',
                    surname: '',
                    id_number: '',
                    mobile_number: '',
                    email: '',
                    date_of_birth: '',
                    language_id: '',
                    interests: []
                }
                this.getData();
            },
            performAction(action,item){
                let vm = this;
                switch(action){
                    case 'delete':
                        vm.showSuccess = vm.showError = vm.loader = false;
                        if(confirm('Are you sure? This action cannot be undone')){
                            axios.get('/delete/'+item.id)
                                .then(function (response) {
                                    vm.getData();
                                }).catch(function (error) {
                                    console.log(error);
                                });
                        };
                    break;
                    case 'view':
                        vm.showSuccess = vm.showError = vm.loader = false;
                        vm.person = item;
                        vm.formMode = 'view';
                        vm.showForm = true;
                    break;
                    case 'edit':
                        vm.getData();
                        vm.person = item;
                        vm.person.interests = Object.entries(item.interests).map(entry => {
                            return entry[1].id;
                        });
                        vm.formMode = 'edit';
                        vm.showForm = true;
                        vm.showSuccess = vm.showError = vm.loader = false;
                    break;
                }
            }
        },

        computed: {
        }
    }
</script>
